<div class="parent-container">
	<div id="agreementinfo-container">
		<div class="agreement-title">小悦科技有限公司为发型师提供以下服务：</div>
		<ol>
			<li>在悦艺术家APP建立个人主页、在线预约、客户沟通等相关服务;</li>
			<li>小悦新媒体、微信、微博、网站等对签约设计师个人推广页面进行制作,对接各大网站个人品牌推送;</li>
			<li>为签约设计师提供（发型美甲化妆等）所需场景空间服务;</li>
			<li>提供基础设施、专业仪器设备及配套附加服务;</li>
		</ol>
		<div class="agreement-title">签约发型师需遵守以下约定:</div>
		<ol>
			<li>预约：在线有客户预约，必须保证能很好到完成服务;</li>
			<li>支付：设计师服务客户支付方式，APP线上支付或线下前台支付;</li>
			<li>分成方式采用流水分成机制:</li>
				<ol class="latin">
					<li class="p-left-20">乙方向丙方给予操作流水40%作为合作分成。头发护理、头皮护理、精华类等特殊套餐扣除实际成本后，给予销售金额50%作为合作分成。 乙方店面新客户，通过大众点评等第三方渠道结账或进店的生客，给予销售金额50%作为合作分成;</li>
					<li class="p-left-20">在此期间公司对于品牌推广等需要赠送代金券或者赠卡，签约工作人员应配合公司需要给予赠送者提供服务，代金券部分不给予流水，赠卡部分给予15%分成;</li>
				</ol>
			<li>发型师不得于任何一家互联网公司（但不限于或联网公司）签署此类形式 相关业务，如有违反扣除违约金终止合作;</li>
			<li>签约设计师自行缴纳个人所得税及保险费用;</li>
			<li>签约设计师准许悦艺术家使用个人及作品进行推广;</li>
			<li>利润分配：每月15日进行流水分配，如遇到节假日分账曰期前后2天;</li>
		</ol>
		<div class="agreement-title">合作要求:</div>
		<ol>
			<li>甲方应按照合作要求履行相关互联网相关工作;</li>
			<li>甲方须完成所需服务场所，配套设施，产品品质，客户服务等工作;</li>
			<li>乙方须按协议要求履行自己职责，不得造成对甲乙双方名义损害，设施破 坏，如设施破坏须原价赔偿;</li>
			<li>乙方遵守甲方线上（APP微信网站）规定，如有违反可对进行处罚;</li>
			<li>乙方遵守乙方经营场所的内部规定。如有违反可对进行处罚;</li>
			<li>严重违反并造成重大损失，扣除保证金，终止合作，赔偿损失;</li>
			<li>发型师在店内私下交易，给店内造成损失，如有发现，双倍扣罚;</li>
			<li>此协议签署后乙方应对甲方给予的分成比例严格保密，不可透露给第三方。如此分成比例因丙方透露给第三方并给甲方造成损失的乙方承担全部责任;</li>
		</ol>
		<div class="confirm-btn">
			<div class="confirm-no" ng-click="confirm(1)">不同意</div>
			<div class="confirm-yes" ng-click="confirm(2)">同意</div>
		</div>
	</div>
</div>